<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= userName %></title>
  </head>
  <body>
    <h2>Profile: <%= userName %></h2>
    <h3><u>Name</u></h3>
    <p><%= firstName %> <%= lastName %></p>
    <h3><u>Favorite Jokes:</u></h3>
    <p><%= favoriteJokes %></p>
  </body>
</html>
