<!DOCTYPE html>
<html ng-app="DadJokes">
<head>
  <% include ../partials/head.ejs %>
</head>
<body ng-controller="MainController as ctrl">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="form">
    <h3 class="ejs-title-user">Created by: <%=user.firstName%> <%=user.lastName%></h3>
    <ul>
      <% for (let i = 0; i < user.createdJokes.length; i++) { %>
        <li><%=user.createdJokes[i].joke%></li>
        <% } %>
      </ul>

    </div>
      <div class="form">
        <h3 class="ejs-title-user"><%=user.firstName%>'s Favorites:</h3>
        <p ng-if="ctrl.poop">Show me</p>
        <ul>
          <% for (let i = 0; i < user.favoriteJokes.length; i++){ %>
            <li><%= user.favoriteJokes[i].joke %></li>
            // <!--Would like to add a 'Add to favorites' button right here, but having trouble passing joke text into the addToFavorites function -->
            <% } %>
          </ul>
        </div>
      </div>
    </body>
    </html>
