<!DOCTYPE html>
<html ng-app="DadJokes">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- JS -->
    <script src="/js/app.js"></script>
  </head>
  <body ng-controller="MainController as ctrl">
    <h2>Profile: <%= user.userName %></h2>
    <h3><u>Name</u></h3>
    <p><%= user.firstName %> <%= user.lastName %></p>
    <h3><u>Favorite Jokes:</u></h3>
    <ul>
      <% for (let i = 0; i < user.favoriteJokes.length; i++){ %>
        <li> joke <%= user.favoriteJokes[i].joke %> id <%= user.favoriteJokes[i]._id %>
        <button ng-click="ctrl.addToFavorites(<%= user.favoriteJokes[i]._id %> , <%= user.favoriteJokes[i].joke %>);">Add to Favorites</button>
        </li>
      <% } %>
    </ul>
    <!-- REGISTER NEW USER -->
    <a href="/users/register">New User</a></br>
    <!--  END OF 'REGISTER NEW USER' -->
    <!-- USER LOGIN -->
    <a href="/session/login">Login</a></br>
    <!-- END OF 'USER LOGIN'   -->
    <!-- USER LOGOUT -->
    <a href="/session/logout">Logout</a></br>
    <!-- END OF USER LOGOUT -->
    <!-- GO TO USER HOME -->
    <a href="/session/home">My Home</a></br>
    <!-- END OF USER HOME -->
  </body>
</html>
